<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SmartThreadPool.dll" version="2.2.4" targetFramework="net45" />
  <package id="sqlite-net" version="1.0.8" targetFramework="net45" />
  <package id="SystemInfoLibrary" version="1.4.0" targetFramework="net45" />
  <package id="YamlDotNet" version="4.0.0" targetFramework="net45" />
</packages>